{% extends 'base.html' %}

{% block content %}

  <div class="container">
    <h2 class="my-4">Profile</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="card-title mb-0">Personal Information</h5>
            <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
          </div>
          <div class="card-body">
            <p><strong>Username:</strong> {{ user.username }}</p>
            <p><strong>First Name:</strong> {{ user.first_name }}</p>
            <p><strong>Last Name:</strong> {{ user.last_name }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>

            <!-- Add a logout button -->
          </div>
        </div>
      </div>
    </div>


  </div>

{% endblock %}
